# Jekyll
_site
.jekyll
.jekyll-metadata
.jekyll-cache
.sass-cache
.bundle
Gemfile.lock
node_modules
package.json
*.gem
*.gemspec

# macOS
.DS_Store

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
